{% extends 'mainapp/base.html' %}
{% block content %}

    <div class="container mt-5">
        <div class="container-radius background-white">
            <h5>{{ text.profile.become_a_teacher }}</h5>
            {% if request.user.profile.is_teacher %}
                <h4>{{ text.profile.you_have_become_a_teacher }}</h4>
            {% else %}
                <form action="/api/v1/users/{{ user_id }}/teaching/start/?type=redirect" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="mt-2 btn btn-primary">{{ text.keywords.submit }}</button>
                </form>
            {% endif %}

        </div>
    </div>

{% endblock %}