{% extends 'mainapp/base.html' %}
{% block content %}
    <div class="preloader"></div>
    <div class="container mt-2">
        <form action="{% url 'main:teachers_search' %}" id="course-form" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="course" autocomplete="off" id="course-input"
                       placeholder="{{ text.main.input_message }}"
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
                <input type="hidden" id="value" name="value" value="">
                <div class="input-group-append">
                    <button class="input-group-text">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div id="hints-block">

            </div>
        </form>
    </div>

    <div class="users">
    </div>

    <script>
        let url = '/api/v1/users/?is_teacher=true&is_active=true';

        let course_type = findGetParameter('value');
        console.log("Course type: " + course_type);
        if (course_type) {
            url += '&course_type=' + course_type;
        }


        APIRequest(url, function (data) {
            $(".preloader").css('display', 'none');

            let users = $(".users");
            for (let user of data) {
                let teacher = '';
                if (user.profile.is_teacher) {
                    teacher = '{{ text.keywords.teacher }}';
                } else {
                    teacher = "{{ text.keywords.user }}";
                }


                APIRequest(`/api/v1/users/${user.id}/courses/`, function (data) {
                    let coursesHtml = '';

                    for (let course of data) {
                        console.log(course);
                        coursesHtml += `
                            <div class="">
                                ${course.name}
                            </div>
                        `
                    }

                    console.log(`User: ${user.first_name}`);
                    $('.preloader').css('display', 'none');
                    $('footer').css('position', "relative");
                    users.append(`
                    <div class="user">
                        <a href="/user/${user.id}/">
                            <div class="row">
                                <div class="user-right-side col-lg-5 col-md-7 col-12">
                                    <div class="user-right-side-name">
                                        <h4 class="user-name">${user.first_name}</h4>
                                    </div>
                                    <div>
                                        <h5 class="disabled">${teacher}</h5>
                                    </div>
                                    <div class="user-right-side-avatar">
                                        <img src="${user.profile.avatar}">
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-5 col-12">
                                    <h4>{{ text.keywords.from }}: ${user.profile.starting_price}</h4>

                                    <h6>{{ text.keywords.teaches }}</h6>
                                    <div class="mb-5 teacher-courses-list">
                                        ${coursesHtml}
                                    </div>

                                    <h5>${user.profile.location}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                `)

                });
            }
        });
    </script>
    <script>
        APIRequest(`/api/v1/courses/?lang={{ current_lang }}`, function (data) {
            let data_ = [];
            for (let i = 0; i < data.length; i++) {
                data_.push(data[i].item);
            }
            console.log(data);
            console.log(data_);
            autocomplete(document.getElementById("course-input"), data_, '#course-form', '#value', data);
        });


    </script>
{% endblock %}